# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env

# Data & Storage
Data/Raw/*
!Data/Raw/.gitkeep
Data/Processed/*
!Data/Processed/.gitkeep
Models/*
!Models/.gitkeep

# Database
*.db
*.sqlite3

# OS & IDEs
.vscode/
.idea/
.DS_Store
*.log
